coincurve~=19.0.0
green~=4.0.2
protobuf~=3.19.1
pycryptodome~=3.19.1
ecdsa==0.17.0
eth-keyfile~=0.6.1
py_crypto_hd_wallet~=1.3.3
pynacl~=1.5.0
bitstring~=3.1.9
shamir-mnemonic[cli]~=0.3.0
bitcoin-utils~=0.5.5
pylibscrypt~=2.0.0
py_ecc~=6.0.0
git+https://github.com/ethereum/staking-deposit-cli.git@v2.5.0
git+https://github.com/3rdIteration/sjcl
git+https://github.com/3rdIteration/groestlcoin-hash-python